* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: linear-gradient(65.93deg, #7F66C5 34.03%, #50D5FF 93.12%)
}
button, input{
    border: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: inherit;
}
.error{
    color: #E84E4F;
}
.messages{
    background-color: rgba(255,255,255, 0.8);
    border-radius: 6px;
    color: #7F66C5;
    margin: 1rem 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.tagsArea{
    display: flex;
    flex-wrap: wrap;
}

.tags{
    background-color: #66C486;
    color: #fff;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    margin: 0.5rem;
}
.warning-tag{
    border: #E84E4F solid 1px;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    margin: 0.5rem;
    color: #E84E4F;
}
@import "./login";
@import "./nav";
@import "./card";
@import "./dropdown";