* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: linear-gradient(65.93deg, #7F66C5 34.03%, #50D5FF 93.12%)
}
button, input, textarea{
    border: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: inherit;
}
textarea{
    resize: none;
}
.error{
    color: #E84E4F;
}
.messages{
    background-color: rgba(255,255,255, 0.8);
    border-radius: 6px;
    color: #7F66C5;
    margin: 1rem 0;
}
a{
    text-decoration: none;
    color: inherit;
}

.tagsArea{
    display: flex;
    flex-wrap: wrap;
}

.tags{
    background-color: #66C486;
    color: #fff;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}
.view-tag{
    background-color: #F0F0F0;
    color: #000;
}
.warning-tag{
    border: #E84E4F solid 1px;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    margin: 0.5rem;
    color: #E84E4F;
}
.borderInput{
    width: 100%;
    border-radius: 2rem;
    border: solid 1px rgb(177, 149, 247);
    color: #7F66C4;
    padding: 0.25rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    input{
        color: #7F66C4;
        width: 100%;
    }
    div{
        color: #7F66C5;
        cursor: pointer;
    }
}
.inputRating{
    color: #7F66C4;
    display: flex;
    align-items: center;
    span{
        padding-right: 10px;
    }
}
.toolTip{
    position: relative;
    transition: all 1s;
}
.toolTip::before{
    content: "";
    border: solid 10px transparent;
    border-bottom-color: rgb(18, 18, 62);
    top: 100%;
    transform: translateY(-100%);
    margin-left: -8px;
    position: absolute;
    display: block;
    left: 50%;
    opacity: 0;
}

.toolTip::after{
    content: attr(tooltip);
    display: block;
    background-color: rgb(18, 18, 62);
    position: absolute;
    padding: 3px;
    margin: 0 3px;
    color: #fff;
    left: 50%;
    top: 100%;
    width: 100px;
    border-radius: 0.4rem;
    text-align: center;
    font-size: 0.75rem;
    transform: translateX(-50%);
    opacity: 0;
}
.toolTip:hover::after, .toolTip:hover::before{
    opacity: 1;
}
.hoverBlendWhiteButton{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
    img{
        margin-right: 5px;
    }
    &:hover{
        background-color: rgba(177, 177, 177, 0.5);
    }
}

.showOpacity{
    opacity: 1!important;
}
.showzindex{
    z-index: 100;
    transition: 0s!important;
}
.showBlock{
    display: block!important;
}
.no-support{
    background-color: #E84E4F;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding:1.5rem 1.75rem;
    font-size: 1.5rem;
    text-align: center;
    display: none;
    opacity: 0;
    div:nth-child(2){
        font-size: 1rem;
        padding: 1rem;
    }
}
.button{
    cursor: pointer;
}
@media screen and(max-width: 800px){
    *{
        font-size: 101%!important;
    }
    .nav{
        width: 95%!important;
    }

}
@media screen and(max-width: 600px){
    .nav{
        flex-direction: column;
        #logo{
            img{
                height: 4rem;
            }
        }
    }
    .feature-circle{
        height: 13rem!important;
        width: 13rem!important;
    }
   
}
@import "./login";
@import "./nav";
@import "./card";
@import "./dropdown";
@import "./readWrittenWork";
@import "./profilePage";
@import "./create";
@import "./popup";